@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --a : 0;  /*a is a variable and can be accessed by var(--a)*/
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    background-color: black;
    color: white
    
}


.left {
    width: 25vw;
    padding: 2px;
   max-height: 98vh;
  }
  
  .right {
    width: 75vw;
    margin-top: 8px;
    margin-bottom: 8px;
   height: 97.8vh;
}



.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 13px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;

    list-style: none;
    padding-top: 13px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 5px;
}

.footer a {
    color: gray;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    
}

.header>* {
    padding: 20px;
}


.spotifyPlaylists {
    padding: 6px;
}


.cardContainer {
  display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 65vh;
    overflow-y: auto;
}

.card {
    width: 225px;
    padding: 12px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1s;
}

.card * {
    padding-top: 15px;
}

.card img {
    width: 100%;
    /* object-fit: contain; */
}


.card:hover .play {
    opacity: 1;
    transform: translateY(0);
  }

  .card:hover{
    background-color: rgb(2, 65, 61);
    cursor: pointer;
  }
  
  .play {
    width: 45px;
    position: absolute;
    right: 20px;
    bottom: 119px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #161313;
}

::-webkit-scrollbar-thumb {
    background: #5b5858;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: #0b0b0b; /* Match the scrollbar thumb color */
}


.buttons > *{
    margin: 0 12px;
    justify-content: center;
    align-items: center;
}

  .signupbtn{
   background-color:rgb(34, 34, 34); 
   color:  rgb(143, 124, 124);
   font-weight: bold;
    border: none;
    font-size: 16px;
    padding: 10px;
   cursor: pointer;
  }

  .signupbtn:hover{
    font-size: 17px;
    color: white;
  }

  .loginbtn{
    background-color:white; 
    color:  black;
    font-weight: bold;
     border: none;
     font-size: 15px;
     padding: 10px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 30px;
    width: 79px;
  }

  .loginbtn:hover{
    font-size: 16px;
    font-weight: bolder;
  }

  .right{
    position: relative;
  }



  .playbar{
    position:absolute;
    bottom: 10px;
    background-color: #2e3937;
    border-radius: 10px;
    width: 70vw;
    padding: 10px;
    min-height: 40px;
}

.songbtn{
      display: flex;
      justify-content: center;
      gap: 12px;

  }

.songlist ul{
  padding: 0px 12px;
}

.songlist ul li{
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 10px 0px;
  border: 1px solid white;
  margin: 12px 0px;
  padding: 10px;
  border-radius: 5px;
  }

.songlist .info{
  font-size: 13PX;
  width: 344px;
}

  .playnow{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.playnow img{
  width: 20px;
}

  .playnow span{
    font-size: 14px;
    width: 60px;
   
  }

  .info{
    font-size: 14px;
    max-width: 179px;

  }
  /* .info::-webkit-scrollbar {
    height: 10px;
  }

  .info::-webkit-scrollbar-thumb {
    background-color:  #51615e;
    border-radius: 10px;
  }

  .info::-webkit-scrollbar-track {
    background: #2e3937;
} */

.info {
 
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */

  position: relative; /* Ensure correct positioning for animation */
}

.info :first-child {
  display: inline-block;
  white-space: nowrap;
  animation: move-text 8s linear infinite; /* Infinite scrolling animation */
}

@keyframes move-text {
  0% {
    transform: translateX(10%); /* Start outside the container from the right */
  }
  100% {
    transform: translateX(-100%); /* Move out of the container from the left */
  }
}



  .songlist{
    height: 460px;
    overflow: scroll;
    margin-top: 4px;
    margin-bottom: 44px;
  }

.playgraphics{
  position: relative;
}

  .seekbar{
    height: 4px;
    width:98% ;
    background-color: rgb(86, 192, 192);
    border-radius: 10px;
    position: absolute;
    bottom: -84px;
    margin: 6px;
    cursor: pointer;
  }
  
  .circle{
 
    background-color: rgb(86, 192, 192);
    width: 13px;
    height: 13px;
    border-radius: 13px;
   
    position: absolute;
    bottom: -83px;
    left: 0%;
    transition: left 0.5s;

  }

  .songinfo{
    width: 250px;
  }
  .songinfo {
    overflow-x:auto;
    white-space: nowrap;
    position: relative;
    
  }


  .songinfo::-webkit-scrollbar {
    height: 5px;
  }

  .songinfo::-webkit-scrollbar-thumb {
    background-color:  #51615e;
    border-radius: 10px;
  }

  .songinfo::-webkit-scrollbar-track {
    background: #2e3937;
}




  .songtime{
    width: 125px;

  }


  .songbtn img{
    cursor: pointer;
  }

  .abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

.hamburger{
  display: none;
}

.close{
  display: none;
}

.timevolume{
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
}

.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.range input{
  cursor: pointer;
}

@media(max-width : 1200px){
  .left{
    background-color: black;
    position: absolute;
    left: -100%;
    transition: all 2s;
    z-index: 1;
    width: 373px;
    padding: 0;
  }

  .right{
    width: 100vw;
  }

  .playbar{
    width: 88vw;
  }
.seekbar{
  width: 90%;
  bottom: -200px;
}


  .hamburger{
    display: inline;
    width: 40px;
    cursor: pointer;
  }
  .mobilehamburger{
    gap: 30px;
  }

  .close{
    display: block;
    position: absolute;
    right: 23px;
    top: 19px;
    width: 30px;
    cursor: pointer;
  }

  .card{
    width: 44vw;
  }

  .cardContainer{
    margin: 0;
    justify-content: center;
    /* max-height: 58vh; */
  }

  .loginbtn{
    width: 80px;
  }

  .buttons{
    display: flex;
  }

  .abovebar{
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .circle{
    bottom: -199px;
    
  }

  .songinfo{
    width: 80vw;
    
      overflow-x:auto;
      white-space: nowrap;
      position: relative;
  }

  .timevolume{
    width: 130px;
  }

  .songtime{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timevolume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  .volume{
    width: 30px;
  }
}




@media(max-width : 500px){
  .card{
    width: 80vw;
  }

  .cardContainer{
    max-height: 56vh;

  }

  .spotifyPlaylists > h1 {
    margin: 9px;
  }

  .playgraphics{
    bottom: 8px;
    justify-content: center;
    align-items: center;
  }
}
